.product-information {
    padding: 60px 0;

    @media (min-width:575px) {
        padding: 72px 0;
    }

    &__tab {
        border-radius: 4px;
        border: 1px solid var(--bs-gray-100);

        .nav-tabs {
            justify-content: center;
            border-bottom: 1px solid var(--bs-gray-100);
            @media (max-width:480px) {
                flex-direction: column;
            }
            .nav-link {
                transition: .3s;
                margin: 0;
                background: transparent;
                border: 0;
                padding: 18px 20px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--bs-gray-600);
                border-bottom: 3px solid transparent;

                &.active {
                    color: var(--bs-gray-900);
                    border-color: var(--bs-primary-500);
                }
            }
        }

        .tab-content {
            .tab-pane {
                &__wrapper {
                    padding: 30px;
                    @media (max-width:575px) {
                        padding: 30px 20px;
                    }
                    display: grid;
                    align-items: flex-start;
                    gap: 0 24px;
                    @media (min-width:1200px) {
                        grid-template-columns: 50% 50%;
                        padding: 40px;
                    }
                    .title {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: var(--bs-gray-900);
                    }

                    .text {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: var(--bs-gray-600);
                    }

                    .description {
                        @media (min-width:1200px) {
                            padding-right: 32px;
                        }
                        h2.title {
                            margin-bottom: 12px;
                        }
                    }

                    .feature {
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            margin-top: 16px;

                            li {
                                &:not(&:last-child) {
                                    margin-bottom: 14px;
                                }

                                display: flex;
                                align-items: center;

                                svg {
                                    margin-right: 8px;
                                }

                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                color: var(--bs-gray-900);
                            }
                        }
                    }

                    .shipping-information {
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            margin-top: 20px;

                            li {
                                &:not(&:last-child) {
                                    margin-bottom: 12px;
                                }

                                span {
                                    font-weight: 500;
                                    color: var(--bs-gray-900);
                                }

                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                color: var(--bs-gray-600);
                            }
                        }
                    }

                    &--info {
                        @media (max-width:1200px) {
                            margin-top: 30px;
                        }
                        display: flex;
                        align-items: flex-start;
                        @media (max-width:575px) {
                            flex-direction: column;
                        }
                        .feature{
                            @media (max-width:575px) {
                                border: 0;
                                padding: 0;
                            }
                            padding-right: 15px;
                            @media (min-width:1200px) {
                                padding-right: 24px;
                                
                            }
                            border-right: 1px solid var(--bs-gray-100);
                        }
                        .shipping-information{
                            @media (max-width:575px) {
                                margin-top: 24px;
                                padding: 0;
                            }
                            padding-left: 15px;
                            @media (min-width:1200px) {
                                padding-left: 24px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
