{% import "components/_mixed.njk" as MixtComponent %}
{% macro render(args) %}
{% import "components/cards.njk" as Card %}

{% set cardData =[
        {
        id:1,
        img:"./image/product/product-23.png",
        title:"TOZO T6 True Wireless Earbuds Bluetooth Headphon...",
        price:"$36",
        count:"994",
        sOne:true
        },
        {
        id:2,
        img:"./image/product/product-24.png",
        title:"Samsung Electronics Samsung Galexy S21 5G",
        price:"$80",
        count:"798"
        },
        {
        id:3,
        img:"./image/product/product-25.png",
        title:"Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...",
        price:"$70",
         count:"600"
        },
        {
        id:4,
        img:"./image/product/product-26.png",
        title:"Portable Wshing Machine, 11lbs capacity Model 18NMF...",
        price:"$250",
        count:"492"
        },
        {
        id:5,
        img:"./image/product/product-27.png",
        title:"Wired Over-Ear Gaming Headphones with USB",
        price:"$2300",
        count:"740",
        sOne:true
        },
        {
        id:6,
        img:"./image/product/product-28.png",
        title:"Polaroid 57-Inch Photo/Video Tripod Deluxe Tripod Ca...",
        price:"$220",
        count:"556",
        sOne:true
        },
        {
        id:7,
        img:"./image/product/product-29.png",
        title:"Dell Optiplex 7000x7480 All-in-One Computer Monitor",
        price:"$1,50",
        count:"426",
        sOne:true
        },
        {
        id:8,
        img:"./image/product/product-30.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        del:"$360",
        price:"$250",
        count:"583",
        sOne:true
        }


]%}
<div class="shop-body-01">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="shop-body-01__filter d-none d-xl-block">
                    <div class="shop-body-01__filter--catagory">
                        <div class="category-block-01">
                            <h6 class="title">Category</h6>
                            <form action="#">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheckChecked_1" checked>
                                <label class="form-check-label fontcheck" for="flexCheckChecked_1">
                                    Electronics Devices
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="a_2">
                                <label class="form-check-label" for="a_2">
                                    Computer & Laptop
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="b_2">
                                <label class="form-check-label" for="b_2">
                                    Computer Accessories
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="c_2">
                                <label class="form-check-label" for="c_2">
                                    SmartPhone
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="d_2">
                                <label class="form-check-label" for="d_2">
                                    Headphone
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="e_2">
                                <label class="form-check-label" for="e_2">
                                    Mobile Accessories
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="f_2">
                                <label class="form-check-label" for="f_2">
                                    Gaming Console
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="g_2">
                                <label class="form-check-label" for="g_2">
                                    Camera & Photo
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="h_2">
                                <label class="form-check-label" for="h_2">
                                    TV & Homes Appliances
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="i_2">
                                <label class="form-check-label" for="i_2">
                                    Watchs & Accessories
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="j_2">
                                <label class="form-check-label" for="j_2">
                                    GPS & Navigation
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="k_2">
                                <label class="form-check-label" for="k_2">
                                    Warable Technology
                                </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="shop-body-01__filter--line"></div>
                    <div class="shop-body-01__filter--pricerange">
                        <div class="price-range-block">
                        <h6 class="title">Price Range</h6>
                        <div class="slider-wrapper">
                            <div class="slider">
                            <div class="progress"></div>
                            </div>
                            <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                            <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                            </div>
                            <div class="price-input">
                            <div class="field">
                                <input type="text" class="input-min form-control" placeholder="Min price">
                            </div>
                            <div class="field">
                                <input type="text" class="input-max form-control" placeholder="Max price">
                            </div>
                            </div>
                        </div>
                        <div class="price-box">
                            <form action="#">
                            <div class="form-check">
                                <input class="form-check-input selectall" type="checkbox" id="select-all_2">
                                <label class="form-check-label" for="select-all_2">
                                All Price
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input individual" type="checkbox" id="l_2">
                                <label class="form-check-label" for="l_2">
                                Under $20
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input individual" type="checkbox" id="m_2">
                                <label class="form-check-label" for="m_2">
                                $25 to $100
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input individual" type="checkbox" id="n_2">
                                <label class="form-check-label" for="n_2">
                                $100 to $300
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input individual" type="checkbox" id="oo_2" checked>
                                <label class="form-check-label" for="oo_2">
                                $300 to $500
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input individual" type="checkbox" id="o_2">
                                <label class="form-check-label" for="o_2">
                                $500 to $1,000
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input individual" type="checkbox" id="p_2">
                                <label class="form-check-label" for="p_2">
                                $1,000 to $10,000
                                </label>
                            </div>
                            </form>
                        </div>
                        </div>
                    </div>
                    <div class="shop-body-01__filter--line"></div>
                    <div class="shop-body-01__filter--popularbrands">
                        <div class="popularbrands-block-01">
                            <h6 class="title">popular Brands</h6>
                            <form action="#">
                                <div class="form-chek-wrapper">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="flexCheckChecked4_4" checked>
                                    <label class="form-check-label" for="flexCheckChecked4_4">
                                    Apple
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="aa_2" checked>
                                    <label class="form-check-label" for="aa_2">
                                    Google
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="bb_2">
                                    <label class="form-check-label" for="bb_2">
                                    Microsoft
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cc_2">
                                    <label class="form-check-label" for="cc_2">
                                    Dell
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="dd_2" checked>
                                    <label class="form-check-label" for="dd_2">
                                    Symphony
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ee_2">
                                    <label class="form-check-label" for="ee_2">
                                    Sony
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ff_2">
                                    <label class="form-check-label" for="ff_2">
                                    LG
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gg_2">
                                    <label class="form-check-label" for="gg_2">
                                    Camera & Photo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="hh_2" checked>
                                    <label class="form-check-label" for="hh_2">
                                    One Plus
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ii_2">
                                    <label class="form-check-label" for="ii_2">
                                    Google
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="jj_2">
                                    <label class="form-check-label" for="jj_2">
                                    Samsung
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="kk_2" checked>
                                    <label class="form-check-label" for="kk_2">
                                    HP
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ll_2">
                                    <label class="form-check-label" for="ll_2">
                                    Xiaomi
                                    </label>
                                </div>
                                </div>
                            </form>
                            </div>
                    </div>
                    <div class="shop-body-01__filter--line"></div>
                    <div class="shop-body-01__filter--populartag">
                        {{MixtComponent.PopularTagTwo()}}
                    </div>
                    <div class="shop-body-01__filter--add">
                        {{MixtComponent.AddEight()}}
                    </div>
                </div>
                <div class="shop-body-01__offcanvas offcanvas-01 d-block d-xl-none">
                    <a class="offcanvas-btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z" />
                          </svg> Filter
                    </a>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="shop-body-01__filter">
                                <div class="shop-body-01__filter--catagory">
                                    {{MixtComponent.CategoryOne()}}
                                </div>
                                <div class="shop-body-01__filter--line"></div>
                                <div class="shop-body-01__filter--pricerange">
                                    {{MixtComponent.PriceRange()}}
                                </div>
                                <div class="shop-body-01__filter--line"></div>
                                <div class="shop-body-01__filter--popularbrands">
                                    {{MixtComponent.PopularBrands()}}
                                </div>
                                <div class="shop-body-01__filter--line"></div>
                                <div class="shop-body-01__filter--populartag">
                                    {{MixtComponent.PopularTagTwo()}}
                                </div>
                                <div class="shop-body-01__filter--add">
                                    {{MixtComponent.AddEight()}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="shop-body-01__searchsortbox">
                    <div class="search-box">
                        <form action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for anything...">
                                <div class="icon">
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.5625 15.625C13.1869 15.625 16.125 12.6869 16.125 9.0625C16.125 5.43813 13.1869 2.5 9.5625 2.5C5.93813 2.5 3 5.43813 3 9.0625C3 12.6869 5.93813 15.625 9.5625 15.625Z"
                                            stroke="#191C1F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M14.2031 13.7031L18 17.5" stroke="#191C1F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="sort-box">
                        <p>Sort by:</p>
                        <div class="selectbox">
                            <select class="nice-select">
                                <option data-display="Most Popular">Most Popular</option>
                                <option value="1">Some option</option>
                                <option value="2">Some option</option>
                                <option value="3">Some option</option>
                                <option value="4">Some option</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="shop-body-01__active-result">
                    <ul class="keyword">
                        <li class="key-text">Active Filters:</li>
                        <li>
                            <span>Electronics Devices</span>
                            <button>
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.375 2.625L2.625 9.375" stroke="#929FA5" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9.375 9.375L2.625 2.625" stroke="#929FA5" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <span>5 Star Rating</span>
                            <button>
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.375 2.625L2.625 9.375" stroke="#929FA5" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9.375 9.375L2.625 2.625" stroke="#929FA5" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </li>
                    </ul>
                    <div class="results-found">
                        <span class="number">65,867</span>
                        <span class="text">Results found.</span>
                    </div>
                </div>
                <div class="shop-body-01__product">
                    {% for item in cardData%}
                    {{Card.ProductCardThree({
                            img:item.img,
                            title:item.title,
                            del:item.del,
                            count:item.count,
                            price:item.price,
                            sOne:item.sOne
                        })}}
                    {% endfor %}
                </div>
                <div class="shop-body-01__pagination">
                    {{MixtComponent.PaginationOne()}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
