{% macro AddOne(args) %}
  <div class="add-block-01">
    <div class="add-content">
      <h6 class="subtitle text-warning-500">Summer Sales</h6>
      <h2 class="title">New Google <br> Pixel 6 Pro</h2>
        <a class="btn btn-primary" href="#">
          Shop now
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
    </div>
    <div class="add-image">
      <img src="./image/add/add-mobile-1.png" alt="mobile">
      <span class="badge">29% OFF</span>
    </div>
  </div>
{% endmacro %}
{% macro AddTwo(args) %}
  <div class="add-block-02">
    <div class="add-image">
      <img src="./image/add/airpods.png" alt="mobile">
    </div>
    <div class="add-content">
      <h2 class="title">Xiaomi <br> FlipBuds Pro</h2>
      <span class="price">$229 USD</span>
      <a class="btn btn-primary" href="#">
        Shop now
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
{% endmacro %}
{% macro AddThree(args) %}
  <div class="add-block-03">
    <div class="add-block-03__content">
      <h6 class="subtitle">COMPUTER & ACCESSORIES</h6>
      <h2 class="title">32% Discount</h2>
      <p class="text">For all ellectronics products</p>
      <div class="content-wrapper">
        <p class="text-one">Offers ends in:</p>
        <p class="text-two">ENDS OF CHRISTMAS</p>
      </div>
      <a class="btn btn-primary" href="#">
        Shop now
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
    <div class="add-block-03__image d-none d-md-block">
      <img src="./image/add/apple-accessories.png" alt="accessories" class="w-100">
    </div>
  </div>
{% endmacro %}
{% macro AddFour(args) %}
  <div class="add-block-04">
    <div class="add-content">
        <h6 class="subtitle">INTRODUCING</h6>
        <h2 class="title">New Apple <br>
          Homepod Mini</h2>
          <p class="text">Jam-packed with innovation, <br> HomePod mini delivers unexpectedly.</p>
          <a class="btn btn-primary" href="#">
            Shop now
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
    </div>
    <div class="add-image d-none d-md-block">
      <img src="./image/add/soundbox.png" alt="soundbox" class="w-100">
    </div>
  </div>
{% endmacro %}
{% macro AddFive(args) %}
    <div class="add-block-05">
      <div class="add-content">
        <h6 class="subtitle">INTRODUCING</h6>
        <h2 class="title">Xiaomi Mi 11 Ultra <br>
          12GB+256GB</h2>
          <p class="text">*Data provided by internal <br> laboratories. Industry measurment.</p>
          <a class="btn btn-primary" href="#">
            Shop now
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
    </div>
    <div class="add-image d-none d-md-block">
      <img src="./image/add/mobile.png" alt="soundbox" class="w-100">
    </div>
  </div>
{% endmacro %}
{% macro AddSix(args) %}
  <div class="add-block-06">
    <div class="add-image">
      <img src="./image/add/airpod-02.png" alt="airpod">
    </div>
    <div class="add-content">
      <h2 class="title">Xiaomi True <br> Wireless Earbuds</h2>
      <p class="text">Escape the noise, It’s time to hear the magic with Xiaomi Earbuds.</p>
      <div class="content-wrapper">
        <p class="text-one">Only for:</p>
        <p class="text-two">$299 USD</p>
      </div>
        <a class="btn btn-primary" href="#">
          Shop now
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
    </div>

  </div>
{% endmacro %}
{% macro AddSeven(args) %}
  <div class="add-block-07">
    <h6 class="subtile">SUMMER SALES</h6>
    <h2 class="title">37% DISCOUNT</h2>
    <p>only for <span class="text-warning-500">SmartPhone</span> product.</p>
    <a class="btn btn-secondary" href="#">
      Shop now
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
{% endmacro %}
