@use "../../abstracts/mixins" as *;
.cta-section-01{
    background: var(--bs-primary-100);
    padding: 80px 0;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:992px) {
            flex-direction: column;
        }
        .content-area{
            @media (max-width:992px) {
                text-align: center;
                margin-bottom: 30px;
            }
            .subtitle{
                display: inline-block;
                font-weight: 600;
                font-size: 14px;
                border-radius:2px ;
                padding: 6px 12px;
                line-height: 20px;
                color: white;
                background: var(--bs-secondary-500);
            }
            .title{
                font-weight: 600;
                font-size: 38px;
                line-height: 1.166666666666667;
                color: var(--bs-gray-900);
                padding: 8px 0 15px;
                @media (min-width:575px) {
                    padding: 12px 0 20px;
                    font-size: 48px;
                }
            }
            .text{
                font-weight: normal;
                font-size: 18px;
                line-height: 1.333333333333333;
                color: var(--bs-gray-900);
                @media (min-width:575px) {
                    font-size: 24px;
                }
            }
            .btn{
                margin-top: 22px;
            }
        }
        .image-group{
            position: relative;
            .price-valu{
                position: absolute;
                top: -20px;
                left: 0;
                @media (min-width:575px) {
                    top: -30px;
                    left: -30px;

                }
                span{
                    background: var(--bs-primary-200);
                    border: 5px solid white;
                    @include square (80px, 500px);
                    @include flexAllCenter;
                    @media (min-width:575px) {
                        @include square (110px, 500px);
                    }
                }
            }
        }
    }
}
