.features-section-01{
    &__wrapper{
      padding: 16px 0;
      border: 1px solid #E4E7E9;
      border-radius: 6px;
      display: grid;
      grid-template-columns: auto;
      row-gap: 24px;
      justify-content: center;
      @media (min-width:480px) {
          grid-template-columns: auto auto;
          justify-content: space-around;
      }
      @media (min-width:992px) {
          row-gap: 0;
          grid-template-columns: auto auto auto auto;
          justify-content: space-around;
      }
      .single-item{
          position: relative;
          &:first-child{
              &::before{
                  display: none;
              }
          }
          @media (min-width:1200px) {
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                right: 115%;
                height: 56px;
                width: 1px;
                transform: translate(-50%, -50%);
                background: var(--bs-gray-100);
                @media (min-width:1400px) {
                    right: 130%;
                }
            }
          }
      }
    }
}
