.newsletter-section-01{
    padding: 72px 0;
    .section-title-block{
        text-align: center;
        .title{
            font-weight: 600;
            font-size: 24px;
            padding-bottom: 8px;
            line-height: 1.25;
            color: white;
            @media (min-width:575px) {
                padding-bottom: 12px;
                font-size: 32px;
            } 
        }
        .text{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255,0.7);
            @media (min-width:1400px) {
                padding: 0 40px;
            }
        }
    }
    .newsletter-form-01{
        margin: auto;
        position: relative;
        margin: 25px 0;
        .form-control{
            @media (min-width:575px) {
                padding-right: 185px;
            }
        }
        .button-group{
            @media (min-width:575px) {
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
            }
            .btn{
                @media (max-width:575px) {
                    margin-top: 10px;
                    width: 100%;
                }
                height: 48px;
            }
        }
        @media (min-width:992px) {
            margin: 32px 0;
        }
        @media (min-width:1400px) {
            min-width: 624px;
        }
    }
    &__sponsor{
        @media (min-width:575px) {
            margin: 0 30px;
        }
    }
}

