{% macro render(args) %}
<div class="forgot-body-01">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5 col-md-7 col-xs-10">
                <div class="accout-wrapper forgot-wrapper">
                    <div class="account-head-text">
                        <h2 class="title">Forget Password</h2>
                        <p class="text">Enter the email address or mobile phone number associated with your Clicon
                            account.</p>
                    </div>
                    <div class="accout-wrapper__form">
                        <form action="#">
                            <div class="form-group">
                                <label class=" form-label" for="email">Email Address</label>
                                <input type="email" id="email" class=" form-control">
                            </div>
                            <div class="form-button">
                                <button class="btn btn-primary w-100">
                                    Send Code
                                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.625 10H17.375" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>
                                </button>
                              </div>
                              <div class="from-text">
                                  <span class="link-text">Already have account? <a href="sign-in.html"> Sign In</a></span>
                                  <span class="link-text">Don’t have account? <a href="sign-up.html"> Sign Up</a></span>
                              </div>
                              <div class="form-line"></div>
                            <div class="form-check m-0">
                                <label class="form-check-label m-0">
                                    You may contact <a class="text-primary-500" href="#">Customer Service </a> for help restoring access to your account.
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
