{% macro render(args) %}
<div class="verify-body-01">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5 col-md-7 col-xs-10">
                <div class="accout-wrapper forgot-wrapper">
                    <div class="account-head-text">
                        <h2 class="title">Verify Your Email Address</h2>
                        <p class="text">Nam ultricies lectus a risus blandit elementum. Quisque arcu arcu, tristique a eu in diam.</p>
                    </div>
                    <div class="accout-wrapper__form">
                        <form action="#">
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between">
                                <label for="exampleInputPassword1" class="form-label">Verification Code</label>
                                <button class="forgot-btn p-0 text-14 bg-transparent border-0">Resend Code</button>
                                </div>
                                <div class="pass-box">
                                <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-button">
                                <button class="btn btn-primary w-100">
                                    Verify me
                                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.625 10H17.375" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>
                                </button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
