{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Header/_bottom-nav.njk" as BottomNav %}
{% import "components/Header/_top-nav.njk" as TopNav %}
{% import "components/Header/_deskotop-nav.njk" as DeskNav %}
{% import "pages/about/_content-1.njk" as ContentSection %}
{% import "pages/about/_team.njk" as TeamSection %}
{% import "pages/about/_banner.njk" as BannerSection %}
{% import "components/Footer/_footer.njk" as FooterSection %}
{% block main %}
<!-- Header Section Start -->
{{Header.render(siteHeaderOne)}}
<!-- Header Section End -->
<!-- Top Nav Start -->
{{TopNav.render()}}
<!-- Top Nav End -->
<!-- Desk Nav Start -->
{{DeskNav.render()}}
<!-- Desk Nav End -->
<!-- Bottom Nav Start -->
{{BottomNav.render()}}
<!-- Bottom Nav End -->
<!-- Content Section Start -->
{{ContentSection.render()}}
<!-- Content Section End -->
<!-- Team Section Start -->
{{TeamSection.render()}}
<!-- Team Section End -->
<!-- Banner Section Start -->
{{BannerSection.render()}}
<!-- Banner Section End -->
<!-- Footer Section Start -->
{{FooterSection.render()}}
<!-- Footer Section End -->
{% endblock %}
