{% extends "template.njk" %}
{% import "components/_mixed.njk" as MixtComponent %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Header/_bottom-nav.njk" as BottomNav %}
{% import "components/Header/_offer-widget.njk" as OfferWidget %}
{% import "components/Header/_top-nav.njk" as TopNav %}
{% import "components/Header/_deskotop-nav.njk" as DeskNav %}
{% import "pages/home/_features.njk" as FeaturesSection %}
{% import "pages/home/_best-deals.njk" as BestDealsSection %}
{% import "pages/home/_banner.njk" as BannerSection %}
{% import "pages/home/_category.njk" as CategorySection %}
{% import "pages/home/_products-01.njk" as ProductSectionOne %}
{% import "pages/home/_products-02.njk" as ProductSectionTwo %}
{% import "pages/home/_products-03.njk" as ProductSectionThree %}
{% import "pages/home/_banner-02.njk" as BannerTwoSection %}
{% import "pages/home/_cta.njk" as CtaSection %}
{% import "pages/home/_news.njk" as NewsSection %}
{% import "pages/home/_newsletter.njk" as NewsletterSection %}
{% import "components/Footer/_footer.njk" as FooterSection %}
{% block main %}
<!-- Header Section Start -->
{{Header.render(siteHeaderOne)}}
<!-- Header Section End -->
<!-- Offer Widget Start -->
{{OfferWidget.render()}}
<!-- Offer Widget End -->
<!-- Top Nav Start -->
{{TopNav.render()}}
<!-- Top Nav End -->
<!-- Desk Nav Start -->
{{DeskNav.render()}}
<!-- Desk Nav End -->
<!-- Bottom Nav Start -->
{{BottomNav.render()}}
<!-- Bottom Nav End -->
<!-- Banner Section Start -->
{{BannerSection.render()}}
<!-- Banner Section End -->
<!-- Features Section Start -->
{{FeaturesSection.render()}}
<!-- Features Section End -->
<!-- BestDeals Section Start -->
{{BestDealsSection.render()}}
<!-- BestDeals Section End -->
<!-- Categorys Section Start -->
{{CategorySection.render()}}
<!-- Categorys Section End -->
<!-- Product Section One Start -->
{{ProductSectionOne.render()}}
<!-- Product Section One End -->
<!-- Banner Two Section Start -->
{{BannerTwoSection.render()}}
<!-- Banner Two Section End -->
<!-- Product Section Two Start -->
{{ProductSectionTwo.render()}}
<!-- Product Section Two End -->
<!-- Product Section Three Start -->
{{ProductSectionThree.render()}}
<!-- Product Section Three End -->
<!-- Cta Two Section Start -->
{{CtaSection.render()}}
<!-- Cta Two Section End -->
<!-- News Section Start -->
{{NewsSection.render()}}
<!-- News Section End -->
<!-- Newsletter Section Start -->
{{NewsletterSection.render()}}
<!-- Newsletter Section End -->
<!-- Footer Section Start -->
{{FooterSection.render()}}
<!-- Footer Section End -->
{# <!-- Product Modal-->
<div class="modal modal-one fade" id="productView" tabindex="-1" role="dialog" aria-labelledby="productViewLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
          {{MixtComponent.ProductDetailSlider()}}  
    </div>
  </div>
</div>
<!-- Newsletter Modal-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-two">
        <div class="modal-two__wrapper">
            <div class="modal-image d-none d-lg-block">
                <img src="./image/modal/newsleter-1.png" alt="newsleter" class="mw-100">
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Subscribe to our newsletter</h5>
                    <p class="modal-text">Subscribe to the clicon eCommerce newsletter to receive timely updates &
                        discount from your favorite products.</p>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="Email address" class="form-control" placeholder="Email Address">
                            <div class="icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.5 7.5V15.625C2.5 15.7908 2.56585 15.9497 2.68306 16.0669C2.80027 16.1842 2.95924 16.25 3.125 16.25H16.875C17.0408 16.25 17.1997 16.1842 17.3169 16.0669C17.4342 15.9497 17.5 15.7908 17.5 15.625V7.5L10 2.5L2.5 7.5Z"
                                        stroke="#FA8232" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M8.63281 11.875L2.69531 16.0703" stroke="#FA8232" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M17.3047 16.0703L11.3672 11.875" stroke="#FA8232" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M17.5 7.5L11.3672 11.875H8.63281L2.5 7.5" stroke="#FA8232"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 ">Subscribe <svg width="21" height="20"
                                viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Don’t show the popup again</label>
                        </div>
                    </form>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.75 5.25L5.25 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M18.75 18.75L5.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
</div> #}
{% endblock %}
