{% extends "template.njk" %}
{% block main %}
    <div class=" d-flex pt-7 align-items-center justify-content-center">
    <ul>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="home.html">Home</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="shop.html">Shop</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="about-us.html">About us</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="404.html">404</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="faq.html">Faq</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="sign-in.html">Sign in</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="sign-up.html">Sign up</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="reset.html">Reset</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="verify.html">Verify</a></li>
        <li><a class=" text-24 d-block pb-3" target="-blank" href="forgot.html">Forgot</a></li>
    </ul>
    </div>
{% endblock %}
