.team-sectiton-01{
    box-shadow: inset 0px 1px 0px #E4E7E9;
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 72px 0;
    }
    .section-title{
        margin-bottom: 30px;
        @media (min-width:992px) {
            margin-bottom: 40px;
        }
        .title{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: var(--bs-gray-900);  
        }
    }
}
