.trackorder-body{
    padding-top: 48px;
    padding-bottom: 80px;
    @media (min-width:992px) {
        padding-bottom: 124px;
    }
    .section-title-block{
        margin-bottom: 24px;
        .title{
            padding-bottom: 16px;
        }
    }
}
