@use "../abstracts/mixins" as *;
@use "../bs-customization/colors" as *;
.btn {
  border-radius: 3px !important;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  padding: 1em 1.7em;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  @media (min-width:575px) {
    font-size: 18px;
  }
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &.btn-primary{
    border: 2px solid var(--bs-primary);
    background: var(--bs-primary);
    color: white;
    svg{
      margin-left: 15px;
      path{
        transition: .3s;
        stroke: white;
      }
    }
    &:hover{
      background: transparent;
      border-color: #DEE7EE ;
      color: #222D39;
      svg{
        margin-left: 15px;
        path{
          stroke: #222D39;
        }
      }
    }
  }
  &.btn-outline-primary{
    border: 2px solid #DEE7EE;
    color: var(--bs-primary);
    transition: .3s;
    svg{
        margin-left: 15px;
        path{
            stroke: var(--bs-primary) !important;
            transition: .3s;
        }
    }
    &:hover{
        background: var(--bs-primary) !important;
        border-color:var(--bs-primary);
        color: white;
        svg{
            path{
                stroke: white !important;
            }
        }
    }
  }
  &.btn-secondary{
    border: 2px solid var(--bs-secondary);
    background: var(--bs-secondary);
    color: white;
    svg{
      margin-left: 15px;
      path{
        transition: .3s;
        stroke: white;
      }
    }
    &:hover{
      background: transparent;
      border-color: #DEE7EE ;
      color: #222D39;
      svg{
        margin-left: 15px;
        path{
          stroke: #222D39;
        }
      }
    }
  }
  &.btn-outline-secondary{
    border: 2px solid #DEE7EE;
    color: #222D39;
    transition: .3s;
    svg{
        margin-left: 15px;
        path{
            stroke: #222D39;
            transition: .3s;
        }
    }
    &:hover{
        background: var(--bs-secondary) !important;
        border-color:var(--bs-secondary);
        color: white;
        svg{
            path{
                stroke: white;
            }
        }
    }
  }
}
.svg-white{
  svg{
    path{
      stroke: white !important;
    }
  }
}
button {
  &:focus {
    outline: none;
  }
}
.site-header{
  .header-btn,
  &__btns{
    @media (max-width:991px) {
      text-align: center;
      margin-top: 55px;
    }
    &--01{
      .header-text{
        padding: 0;
        font-size: 18px;
        line-height: 1.175555555555556;
        color: #222D39;
        img{
          margin-right: 15px;
        }
      }
    }
    &--02{
      .btn{
        padding: 0;
        height: 55px;
        &.btn-1{
          background: transparent;
          border: 0;
          color: #222D39;
        }
      }
    }
    &--03{
      .btn{
        height: 55px;
        @media (min-width:992px) {
          color: white;
          border-color: white;
          svg{
            path{
              stroke: white;
            }
          }
        }
      }
    }
  }
}
.w-180{
  width: 180px !important;
}
.w-183{
  width: 180px !important;
}
.w-140{
  width: 140px !important;
}
.w-198{
  width: 198px !important;
}
.w-210{
  width: 210px !important;
}
.w-225{
  width: 225px !important;
}
.video-btn{
  display: block;
  @include square(50px,500px);
  @include flexAllCenter;
  background: white;
}
.video-btn-two{
  display: block;
  @include square(60px,500px);
  @include flexAllCenter;
  background: var(--bs-primary);
  @media (min-width:575px) {
    @include square(100px,500px);
  }
}
