@use "../abstracts/mixins" as *;
.card-features{
  display: flex;
  align-items: center;
  flex-direction: row;
  .card-image{
    margin-right: 16px;
  }
  .card-body{
    .title{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-900);
      padding-bottom: 4px;
    }
    .text{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-600);
    }
  }
}
