@use "../abstracts/mixins" as *;
.card-features{
  display: flex;
  align-items: center;
  flex-direction: row;
  .card-image{
    margin-right: 16px;
  }
  .card-body{
    .title{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-900);
      padding-bottom: 4px;
    }
    .text{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-600);
    }
  }
  &__v2{
    transition: .3s;
    border: 2px solid var(--bs-primary-100);
    border-radius: 4px;
    background: #FFFFFF;
    padding: 24px;
    .card-body{
      .title{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 0;
      }
    }
    &:hover{
      border-color: var(--bs-primary-500);
      box-shadow: 0px 8px 40px rgba(250, 130, 50, 0.12);
    }
  }
}
.big-product-card-01{
  background: white;
  border: 1px solid var(--bs-gray-100);
  height: 100%;
  padding: 24px 20px;
  .card-image{
    margin-bottom: 24px;
  }
  .card-body{
    padding: 0;
    padding-bottom: 24px;
    .rating{
      margin: 0;
      padding: 0;
      margin-bottom: 6px;
      list-style: none;
      display: flex;
      align-items: center;
      li{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        &:not(&:last-child){
          margin-right: 2px;
        }
        svg{
          display: block;
        }
      }
    }
    .title{
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--bs-gray-900);
      padding: 6px 0 12px;
    }
    .price-valu{
      del{
        margin-right: 4px;
        font-weight: normal;
        color: var(--bs-gray-300);
      }
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: var(--bs-secondary-500); 
    }
    .text{
      padding-top: 12px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-600);
    }
  }
  .card-button-group{
    display: flex;
    align-items: center;
      .wishlist-btn{
        @include square(48px,2px);
        @include flexAllCenter;
        background: var(--bs-primary-100);
        transition: .3s;
        svg{
          path{
            transition: .3s;
          }
        }
        &:hover{
          border: 1.5px solid var(--bs-primary-500);
          svg{
            path{
              stroke: var(--bs-primary-500)
            }
          }
        }
      }
      .addtocard-btn{
        margin: 0 8px;
        height: 48px;
        white-space: nowrap;
        svg{
          margin: 0;
          margin-right: 8px;
        }
      }
      .action-btn{
        @include square(48px,2px);
        @include flexAllCenter;
        background: var(--bs-primary-100);
        transition: .3s;
        svg{
          path{
            transition: .3s;
          }
        }
        &:hover{
          border: 1.5px solid var(--bs-primary-500);
          svg{
            path{
              stroke: var(--bs-primary-500)
            }
          }
        }
      }
  }
}
.big-product-card-02{
  padding: 32px;
  border: 1px solid var(--bs-gray-100);
  border-top: 0;
  border-bottom: 0;
  .close-button{
    text-align: center;
    margin-bottom: 16px;
    .close-btn{
      border: 0;
      background: none;
      padding: 0;
    }
  }
  .content{
    margin: 16px 0;
    p{
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--bs-gray-900);
    }
  }
  .add-button{
    display: flex;
    align-items: center;
    gap: 0 12px;
    justify-content: space-between;
    .btn{
      width: 212px;
    }
    .wishlist-button{
      @include square(48px,2px);
      @include flexAllCenter;
      border: 1.5px solid var(--bs-primary-100);
      background: white;
    }
  }
}
.card-product{
  padding: 16px;
  background: white;
  border: 1px solid var(--bs-gray-100);
  .card-image{
    margin-bottom: 8px;
  }
  .card-body{
    .title{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-900);
      padding-bottom: 8px;
    }
    .price-valu{
      del{
        margin-right: 4px;
       font-weight: normal;
       color: var(--bs-gray-400); 
      }
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-secondary-500);
    }
  }
  &--02{
    text-align: center;
    padding: 24px 12px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E4E7E9;
    .card-image{
      margin-bottom: 10px;
      img{
        margin: auto;
      }
    }
    .card-body{
      .title{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &--03{
    border-radius: 3px;
    transition: .3s;
    .card-image {
      margin-bottom: 24px;
      position: relative;
      .card-hover{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        justify-content: center;
        display: flex;
        transition: .4s;
        visibility: hidden;
        opacity: 0;
        align-items: center;
        margin: 0 -4px;
        .wishlist,.cart,.view{
          margin: 0 4px;
          background: white;
          transition: .3s;
          @include square(48px,500px);
          @include flexAllCenter;
          svg{
            path{
              transition: .3s;
              stroke: var(--bs-gray-900);
            }
          }
          &:hover{
            background: var(--bs-primary-500);
            svg{
              path{
                stroke: white;
              }
            }
          }
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
        transition: .4s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0,0.2);
      }
    }
    .rating{
      margin: 0;
      padding: 0;
      margin-bottom: 8px;
      list-style: none;
      display: flex;
      align-items: center;
      li{
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      &:last-child{
        margin-left: 4px;
        color: var(--bs-gray-400);
      }
      }
    }
    &:hover{
      box-shadow: 0px 8px 24px rgba(25, 28, 31, 0.12);
      .card-image{
        .card-hover{
          opacity: 1;
          visibility: visible;
        }
        &::before{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &--04{
    padding: 12px 9px;
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 3px;
    .card-image{
      margin: 0;
      margin-right: 12px;
    }
    .card-body{
      .title{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-gray-900);
      }
      .price{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-secondary-500);
      }
    }
  }
  &--05{
    border: 0;
    padding: 16px;
    .card-image {
      margin-bottom: 24px;
      img{
        width: 100%;
      }
    }
    .rating{
      margin: 0;
      padding: 0;
      margin-bottom: 8px;
      list-style: none;
      display: flex;
      align-items: center;
      li{
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      &:last-child{
        margin-left: 4px;
        color: var(--bs-gray-400);
      }
      }
    }
  }
}
.card-news{
  background: white;
  border: 1px solid #E4E7E9;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px 20px;
  @media (min-width:992px) {
    padding: 32px;
  }
  .card-image{
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 24px;
    img{
      overflow: hidden;
      border-radius: 3px;
      transition: .3s;
    }
  }
  .card-body{
    &__meta{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .user-block,.date-block,.comment-block{
        margin-right: 16px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        span{
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: var(--bs-gray-700);
        }
        svg{
          display: block;
          margin-right: 6px;
        }
      }
    }
    .title{
      padding-bottom: 12px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: var(--bs-gray-900);
    }
    .text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-gray-500);
    }
    .btn{
      margin-top: 24px;
      border-color:var(--bs-primary-500) !important;
    }
  }
  &:hover{
    .card-image{
      img{
        transform: scale(1.1);
      }
    }
  }
}
.card-team{
  padding: 24px;
  border: 1px solid var(--bs-gray-100);
border-radius: 3px;
  display: flex;
  align-items: center;
  .card-image{
    margin-right: 16px;
    img{
      @include square(65px,500px);
      object-fit: cover;
    }
  }
  .card-body{
    .title{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 6px;
    }
    .text{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-700);
    }
  }
}
.contact-card{
  display: flex;
  align-items: flex-start;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px rgba(25, 28, 31, 0.08);
  border-radius: 4px;
  @media (max-width:480px) {
    flex-direction: column;
    text-align: center;
  }
  .card-icon{
    @include square(96px,4px);
    @include flexAllCenter; 
    margin-right: 24px;
    @media (max-width:480px) {
      @include square(86px,4px);
      margin-right: 0;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .card-body{
    padding: 0;
    .title{
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: var(--bs-gray-900);
      padding-bottom: 8px;
    }
    .text{
      font-weight: normal;
      padding-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-600);
    }
    .info{
      display: block;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: var(--bs-gray-900);
    }
    .btn{
      margin-top: 24px;
    }
  }
}
.caard-block-list{
  display: flex;
  align-items: center;
  .card-image{
    margin-right: 16px;
    img{
      border-radius: 2px;
    }
  }
  .card-body{
    padding: 0;
    .title{
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 8px;
      line-height: 20px;
      color: var(--bs-gray-900);
    }
    .meta{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-500);
    }
  }
}
.account-info-card{
  border-radius: 4px;
  border: 1px solid var(--bs-gray-100);
  .title{
    text-transform: uppercase;
    font-weight: 500;
font-size: 14px;
line-height: 20px;
columns: var(--bs-gray-100);
    padding: 16px 24px;
    border-bottom: 1px solid var(--bs-gray-100);
  }
  .card-body{
    padding: 22px 24px 24px 24px;
    &__head{
      display: flex;align-items: center;
      .client-img{
        margin-right: 16px;
        img{
          @include square(48px,500px);
          object-fit: cover;
        }
      }
      .client-info{
        h6{
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--bs-gray-900);
          padding-bottom: 4px;
        }
        p{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-gray-600);
        }
      }
    }
    &__foot{
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: 20px;
      margin-bottom: 22px;
      li{
        &:not(&:last-child){
          margin-bottom: 8px;
        }
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-gray-900);
        span{
          color: var(--bs-gray-600);
        }
      }
    }
    .btn{
      height: 48px;
      border-color: var(--bs-secondary-100);
      &:hover{
        border-color: var(--bs-secondary-500);
      }
    }
  }
}
.billing-address-card{
  border-radius: 4px;
  border: 1px solid var(--bs-gray-100);
  .title{
    text-transform: uppercase;
    font-weight: 500;
font-size: 14px;
line-height: 20px;
columns: var(--bs-gray-100);
    padding: 16px 24px;
    border-bottom: 1px solid var(--bs-gray-100);
  }
  .card-body{
    padding: 22px 24px 24px 24px;
    &__head{
      display: flex;align-items: center;
      .client-img{
        margin-right: 16px;
        img{
          @include square(48px,500px);
          object-fit: cover;
        }
      }
      .client-info{
        h6{
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--bs-gray-900);
          padding-bottom: 4px;
        }
        p{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-gray-600);
        }
      }
    }
    &__foot{
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: 8px;
      margin-bottom: 22px;
      li{
        &:not(&:last-child){
          margin-bottom: 8px;
        }
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-gray-900);
        span{
          color: var(--bs-gray-600);
        }
      }
    }
    .btn{
      height: 48px;
      border-color: var(--bs-secondary-100);
      &:hover{
        border-color: var(--bs-secondary-500);
      }
    }
  }
}
.fun-fact-card{
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  .icon{
    @include square(56px,2px);
    @include flexAllCenter;
    background: white;
    margin-right: 16px;
  }
  .content{
    .title{
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--bs-gray-900); 
      margin-bottom: 4px;
    }
    .text{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-700); 
    }
  }
}
.bank-card{
  border-radius: 4px;
  height: 196px;
  width: 295px;
  padding: 24px;
  &__head{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-amount{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: white;
    }
    .card-option{
      position: relative;
      .option-dot{
        border: 0;
        background: none;
        padding: 0;
        span{
          @include square(5px,500px);
          background: white;
          transition: .3s;
          opacity: 0.5;
        }
        &:hover{
          span{
            opacity: 1;
          }
        }
      }
      &-list{
        padding: 16px;
        position: absolute;
        top: 25px;
        left: 0;
        width: 140px;
        border-radius: 2px;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12);
        background: white;
        border: 1px solid var(--bs-gray-100);
        button{
          border: 0;
          padding: 0;
          background: none;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: var(--bs-gray-600);
          &:not(&:last-child){
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  &__body{
    h6{
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 8px;
      opacity: 0.7;
    }
    .card-num{
      display: flex;
      align-items: center;
      span{
        &.num{
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          color: white;
        }
        &.clipboard{
          cursor: pointer;
        }
      }
    }
  }
  &__foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-woner-name{
      h6{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: white;
      }
    }
  }
}
