@use "../abstracts/mixins" as *;
.footer-section-01{
    padding: 72px 0;
    background: var(--bs-gray-900);
    .footer-widget{
        .logo{
           padding-bottom: 24px; 
        }
        .widget-content-info{
           .text-one{
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: var(--bs-gray-500);
            padding: 4px 0;
            display: block;
           } 
           .phone{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: white;
            display: block;
           }
           .text-one{
            padding: 12px 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--bs-gray-300);
            display: block;
           }
           .mail{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: white !important;
            display: block;
            a{
                color: inherit;
            }
           }
        }
        .title{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 12px;
        color: white;
        }
        .footer-list-group{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                a{
                    display: block;
                    padding: 6px 0;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--bs-gray-400);
                    position: relative;
                    transition: .3s;
                    &::before{
                        content: "";
                        transition: .3s;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 0;
                        height: 2px;
                        border-radius: 30px;
                        background: var(--bs-warning-300);
                    }
                }
                &:hover{
                    a{
                        color: white;
                        padding-left: 32px;
                        &::before{
                            width: 24px;
                        }
                    }
                }
                &.text-btn{
                    position: relative;
                    display: inline-block;
                    a{
                        color: var(--bs-warning-500) !important;
                        svg{
                            margin-left: 8px;
                        }
                    &::before{
                    display: none;
                    }
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        background: var(--bs-warning-500);
                        height: 1px;
                        width: 0%;
                        transition: 0.3s;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }  
                    &:hover{
                        &::before{
                            width: 100%;
                        }
                        a{
                            padding-left: 0 !important;
                        }
                    }

                }
            }
        }
        .app-button-group{
            .google-play-btn{
                background: var(--bs-gray-800);
                margin-bottom: 12px;
                border-radius: 3px;
                padding: 16px 20px;
                transition: .3s;
                display: inline-flex;
                width: 176px;
                align-items: center;
                svg{
                    display: block;
                    margin-right: 16px;
                    path{
                        transition: .3s;
                    }
                }
                .text-one{
                    transition: .3s;
                    padding: 4px;
                    display: block;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 13px; 
                    color: white; 
                }
                .text-two{font-weight: 600;
                    transition: .3s;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                color: white;}
                &:hover{
                    background: var(--bs-primary-500);
                }
            }
            .app-play-btn{
                background: var(--bs-gray-800);
                border-radius: 3px;
                transition: .3s;
                padding: 16px 20px;
                display: inline-flex;
                width: 176px;
                align-items: center;
                svg{
                    display: block;
                    margin-right: 16px;
                    path{
                        transition: .3s;
                    }
                }
               .text-one{
                   padding-bottom: 4px;
                   display: block;
                font-weight: normal;
                transition: .3s;
                font-size: 11px;
                line-height: 13px;
                color: white;
               } 
               .text-two{font-weight: 600;
                display: block;
                font-size: 14px;
                transition: .3s;
                line-height: 20px;
            color: white;} 
            &:hover{
                background: var(--bs-primary-500);
            }
            }
        }
        .footer-tag{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px 8px;
            li{
                a{
                    transition: .3s;
                    display: inline-block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: white;
                    padding: 6px 10px;  
                    border-radius: 2px;
                    border: 1px solid var(--bs-gray-800);
                    &:hover{
                        background: var(--bs-gray-800);
                        border-color: white;
                    }
                }
            }
        }
    }
}
.copyright-01{
    background: var(--bs-gray-900);
    box-shadow: inset 0px 1px 0px #303639;
    padding: 24px;
    text-align: center;
}
