@use "../abstracts/mixins" as *;
.offer-widget-01{
    background: var(--bs-gray-900); 
    position: relative;
    z-index: 9;
    &__wrapper{
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (min-width:1200px) {
            justify-content: space-between;
        }
        @media (max-width:575px) {
            flex-direction: column;
        }
        &--text{
            @media (max-width:575px) {
                margin-bottom: 10px;
            }
            display: flex;
            align-items: center;
            .black{
                margin-right: 12px;
                display: block;
                transform: rotate(-2deg);
            padding: .5rem .6rem;   
            }
        }
        &--discount-text{
            @media (max-width:575px) {
                margin-bottom: 10px;
            }
            display: flex;
            align-items: center;
            .num{
                margin: 0 8px;
            }
        }
        &--close-button{
            position: absolute;
            @include square(32px,2px);
            background: var(--bs-gray-800);
            @include flexAllCenter;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            right: 24px;
        }
    }
}
.top-nav{
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255,0.16);
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:575px) {
            flex-direction: column;
        }
        &--content{
            display: flex;
            align-items: center;
            @media (max-width:575px) {
                flex-direction: column;
            }
            .social-content{
                border-right: 1px solid rgba(255, 255, 255,0.16);
                .list-group{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    li{
                        padding-right: 12px;
                        a{
                            font-size: 16px;
                            color: white;
                        }
                        &:last-child{
                            padding-right: 24;
                        }
                    }
                }
            }
            .switcher{
                display: flex;
                align-items: center;
                .selector{
                   &.nice-select{
                     background: transparent;
                     border: 0;
                     padding-left: 24px;
                     height: auto; 
                     line-height: 1.6;
                     font-weight: 400;
                     .current{
                         color: white;
                     }
                     &::after{
                        border-color: white;
                        width: 8px;
                        height:  8px;
                        margin-top: -5px;
                     }
                     .list{
                        border: 1px solid #E4E7E9;
                         padding:8px 16px;
                         margin: 0;
                         box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12);
                        border-radius: 3px;
                        top: 120%;
                        li{
                            font-weight: 500;
                            min-height: auto;
                            padding:8px 0;
                            font-size: 14px;
                            line-height: 1;
                            display: flex;
                            align-items: center;
                            &.selected {
                                background: transparent;
                                &::after{
                                    padding-left: 51px;
                                   content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 4.5L6.5 11.5L3 8' stroke='%23FA8232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                                }
                            }
                            &:hover{
                                background: transparent;
                            }
                        }
                     }
                   } 
                }
                &__language{
                    .selector{
                        &.nice-select{
                          .list{
                            left: -132%;
                            li{
                                  color: var(--bs-gray-600);
                                &:nth-child(1){
                                    &::before{
                                    content: url(../../image/logo/usa.png);
                                    margin-right: 12px;
                                    }
                                }
                                &:nth-child(2){
                                    &::before{
                                    content: url(../../image/logo/man.png);
                                    margin-right: 12px;
                                    }
                                }
                                &:nth-child(3){
                                    &::before{
                                    content: url(../../image/logo/rus.png);
                                    margin-right: 12px;
                                    }
                                }
                                &.selected {
                                    color: var(--bs-gray-900);
                                }
                              }
                          }  
                        }
                    }  
                }
                &__currency{
                    .selector{
                        &.nice-select{
                          .list{
                            left: 28%;
                              li{
                                  color: var(--bs-gray-600);
                                &.selected {
                                    color: var(--bs-primary-500);
                                }
                              }
                          }  
                        }
                    }  
                }
            }
        }
    }
}
.desk-nav{
    padding: 20px 0;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--search{
            min-width: 500px;
            @media (min-width:1400px) {
                min-width: 646px;
            }
            .form-group{
                position: relative;
                .form-control{
                    color: var(--bs-gray-900);
                    font-size: 14px;
                    padding: 20px;
                    border: 0;
                    padding-right: 40px;
                    height: 48px;
                    border-radius: 2px;
                    &::placeholder{
                        color: var(--bs-gray-500);
                    }
                }
                .icon{
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }
        }
        &--widget{
            display: flex;
            align-items: center;
            .cart{
                cursor: pointer;
                position: relative;
                margin-right: 24px;
                .frame{
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    background: white;
                    @include square (20px,500px);
                    @include flexAllCenter;
                    span{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: var(--bs-secondary-700); 
                    }
                }
            }
            .wishlist{
                cursor: pointer;
                margin-right: 24px;
            }
            .user{
                cursor: pointer;
            }
        }
    }
}
.bottom-nav{
    padding: 16px 0;
    background: #FFFFFF;
box-shadow: inset 0px -1px 0px #E4E7E9;
    border-bottom: 1px solid rgba(255, 255, 255,0.16);
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left-sidebar{
        display: flex;
        align-items: center;
    }
    .category{
        .mainnav ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            border-radius: 2px;
            position: relative;
          }
          .mainnav li {
            display: inline-block;
            position: relative;
          }
          .mainnav a {
            color: var(--bs-gray-600);
            text-decoration: none;
            padding: 14px 24px;
            display: flex;
            align-items: center;
            position: relative;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            &.btn{
                justify-content: center !important;
                color: white !important;
            }
          }
          .on > a{
              background: var(--bs-primary-500) !important;
              color: white !important;
          }
          .mainnav li:hover > a {
            background: var(--bs-gray-50);
            color: var(--bs-gray-900);
          }
          .mainnav ul ul {
            position: absolute;
            top: 120%;
            min-width: 240px;
            background: white;
            display: none;
          }
          .mainnav ul ul ul {
            left: 100%;
            top: 0;
          }
          .mainnav ul ul li {
            display: block;
          }
          .hasDD > a:after {
            content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%23191C1F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            margin-left: 8px;
            transition: all 0.3s linear;
          }
          .mainnav li:hover > a:after {
            border-top-color: red;
          }
          .category-nav.on > a:after {
            transform: rotate(180deg);
            content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
          ul ul .hasDD.on > a:after {
            transform: rotate(-90deg);
          }
          .mainnav{
            .category-nav{
              .sub-one{
                background: white !important;
                border: 1px solid #E4E7E9 !important;
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12) !important;
                border-radius: 3px !important;  
                padding: 12px 0;
                li{
                    a{
                        padding: 8px 16px;
                        padding-right: 20px;
                    }
                }
                .hasDDtwo {
                    a{
                        justify-content: space-between;
                        &::after{
                            margin: 0 !important;
                        }
                    }
                    &.on{
                        .c-one{
                            font-weight: 500 !important;
                            color:  var(--bs-gray-900) !important;
                        }
                        a{
                            background: var(--bs-gray-50) !important;
                            color: var(--bs-gray-900) !important;
                        }
                        .sub-two{
                            li{
                                transition: .3s;
                                .featured-itme-01{
                                    transition: .3s;
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                a{
                                    padding: 8px 16px ;
                                    background: white !important;
                                    color: var(--bs-gray-600) !important;
                                    transition: .3s;
                                    &:hover{
                                        background: var(--bs-gray-50) !important;
                                        color: var(--bs-gray-900) !important;
                                    }
                                    &.btn{
                                        font-weight: 700 !important;
                                        color: white !important;
                                        border-color: var(--bs-primary-500);
                                        background: var(--bs-primary-500) !important;
                                        height: 48px !important;
                                        svg{
                                            margin-left: 8px;
                                            path{
                                                transition: .3s;
                                                stroke: white !important;
                                            }
                                        }
                                        &:hover{
                                            background: white !important;
                                            color: var(--bs-gray-900) !important;
                                            svg{
                                                path{
                                                    stroke: var(--bs-gray-900) !important;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    
                                        .featured-itme-01{
                                            opacity: 1;
                                            visibility: visible;
                                        }   
                                    
                                }
                            }
                        }
                    }
                }
                .sub-two{
                    min-width: 184px !important;
                    background: #FFFFFF !important;
                    border: 1px solid #E4E7E9 !important;
                    box-sizing: border-box;
                    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12);
                    border-radius: 3px;
                    padding: 20px;
                    padding-right: 0;
                    li{
                        position: relative;
                        background: transparent !important;
                        a{
                            background: transparent !important;
                        }
                        &.text{
                            color: var(--bs-gray-600);
                            padding: 8px 16px;
                        }
                    }
                    .featured-itme-01{
                        position: absolute;
                        top: 0;
                        left: 100%;
                        min-width: 684px;
                    }
                }
              }  
            }
            .single-list{
                  margin-left: 24px;
                a{
                    padding: 0;
                    color: var(--bs-gray-600);
                    display: flex;
                    align-items: center;
                    transition: .3s;
                }
                &:hover{
                    a{
                        color: var(--bs-primary-500);
                        background: transparent !important;
                    }
                }
            }
          }
    }
    .tell{
        span{
            margin-right: 8px;
        }
        display: flex;
        align-items: center;
    }
}
.featured-itme-01{
    z-index: 999;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E4E7E9;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 20px 11px 18px 0px rgb(0 0 0 / 12%);
    border-radius: 3px;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 0 20px;
.featured-list{
    a{
        padding: 0 !important;
        background: transparent !important;
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    .title{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; 
        color: var(--bs-gray-900); 
        padding-bottom: 16px;
    }
    .single-featured{
        display: flex;
        align-items: center;
        padding: 12px;
        border: 1px solid #E4E7E9;
        background: white;
        border-radius: 3px;
        .card-contetn{
            margin-left: 12px;
            p{
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: var(--bs-gray-900);
                padding-bottom: 8px;  
            }
            span{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: var(--bs-secondary-500);
            }
        }
    }
}
.discount-add{
    padding: 32px; 
    border-radius: 4px;
    background: var(--bs-warning-200);
    text-align: center;
    .card-content{
        padding-top: 12px;
        h4{
            font-weight: 600;
            font-size: 28px;
            line-height: 32px;
            color: var(--bs-gray-900); 
            padding-bottom: 8px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            color: var(--bs-gray-700);
        }
        .price-tag{
            margin-top: 16px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            .text{
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: var(--bs-gray-700);
                margin-right: 8px;
            }
            .price{
                padding: 6px 12px;
                font-weight: 600;
                font-size: 16px;
                color: var(--bs-gray-900);
                line-height: 24px;
                background: #FFFFFF;
                border-radius: 3px;
            }
        }
        .btn{
        font-weight: bold !important;
        font-size: 14px !important;
        color: white;
        background: var(--bs-primary-500) !important;
        }
        
    }
}
}
.add-block-01{
    overflow: hidden;
    position:relative;
    padding: 40px 46px;
    background: var(--bs-gray-900);
    border-radius: 6px;
    .add-content{
        .subtitle{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px; 
            padding-bottom: 5px; 
        }
        .title{
            color: white;
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 10px;
            line-height: 1.333333333333333;
            @media (min-width:575px) {
                font-size: 20px;
            }  
            @media (min-width:992px) {
                font-size: 24px;
                padding-bottom: 18px;
            }  
        }
        .btn{
            color: white !important;
            svg{
                path{
                    stroke: white !important;
                }
            }
        }
    }
    .add-image{
        bottom: 0;
        position: absolute;
        right: 0;
        .badge{
            position: absolute;
            top: -20px;
            right: 50px;
            padding: 8px 16px;
            font-weight: 600;
            line-height: 24px;
            font-size: 16px;
            background: var(--bs-warning-400);
            border-radius: 2px; 
            color: var(--bs-gray-900);
        }
    }
}
.add-block-02{
    padding: 40px 40px 40px 32px;
    background: var(--bs-gray-50);
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    border-radius: 6px;
   .add-content{
      .title{
        color: var(--bs-gray-900);
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 10px;
        padding-bottom: 8px;
        line-height: 1.333333333333333;
        @media (min-width:575px) {
            font-size: 20px;
        }  
        @media (min-width:992px) {
            font-size: 24px;
            padding-bottom: 12px;
        } 
      } 
      .price{
          display: block;
          padding-bottom: 15px;
          color: var(--bs-secondary-500);
          font-weight: 600;
          font-size: 16px;
          line-height: 1.333333333333333;
          @media (min-width:480px) {
            padding-bottom: 20px;
            font-size: 18px;
        }
      }

   } 
}
