
.modal-xl{
    @media (min-width:1400px) {
        max-width: 1400px;
    }
}
.modal-one{
   .modal-content{
       display: unset;
       border: 0;
       padding: 30px 10px;
       flex-direction: unset;
       outline: none;
       background-clip: unset;
       @media (min-width:992px) {
           padding: 40px;
       }
   } 
}
.modal-two{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  @media (min-width: 992px) {
      max-width: 872px;
  }
  &__wrapper{
    position: relative;
    background: white;
    border-radius: 4px;
    display: grid;
    @media (min-width: 992px) {
        grid-template-columns: auto 53%;
    }
    align-items: center;
      .modal-content{
          padding: 40px 25px;
          border: 0;
          border-radius: 4px;
          @media (min-width: 480px) {
              padding: 48px;
          }
          .modal-header{
              padding: 0;
              flex-direction: column;
              align-items: flex-start;
              padding-bottom: 15px;
              border: 0;
              @media (min-width: 480px) {
                  padding-bottom: 24px;
              }
             .modal-title{
                font-weight: 600;
                font-size: 28px;
                padding-bottom: 16px;
                line-height: 32px;
                color: var(--bs-gray-900);
             } 
             .modal-text{
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: var(--bs-gray-600);
             }
          }
          .modal-body{
              padding: 0;
              .form-group{
                  position: relative;
                  .form-control{
                    background: #FFFFFF;
                    border: 1px solid #E4E7E9;
                    border-radius: 2px;
                    height: 48px;
                    padding: 20px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    padding-left: 47px;
                    color: var(--bs-gray-900);
                    &::placeholder{
                        color: var(--bs-gray-500);
                    }
                  }
                  .icon{
                      position: absolute;
                      top: 50%;
                      transform: translateY(-50%);
                      left: 15px;
                  }
              }
              .btn{
                  margin-top: 12px;
                  height: 48px;
              }
              .form-check{
                  display: flex;
                  align-items: center;
                  padding: 0;
                  margin: 0;
                  margin-top: 22px;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--bs-gray-500);
                  @media (min-width: 480px) {
                    margin-top: 32px;
                }
                .form-check-input{
                    padding: 0;
                    margin: 0;
                    margin-right: 8px;
                    width: 20px;
                    height: 20px;
                    border-radius: 2px; 
                }
              }
          }
      }
      .btn-close{
          position: absolute;
          top: 0;
          right: -78px;
          max-width: 48px;
          min-width: 48px;
          max-height: 48px;
          min-height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.12);
          border-radius: 500px;
      }
  }
}
