{% macro render(args) %}
    <div class="desk-nav bg-secondary-700 d-none d-lg-block">
        <div class="container">
            <div class="desk-nav__wrapper">
                <div class="desk-nav__wrapper--logo">
                    <a href="index.html">
                        <img src="./image/logo/logo-white.png" alt="logo">
                    </a>
                </div>
                <div class="desk-nav__wrapper--search">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search for anything...">
                            <div class="icon">
                                <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.5625 15.625C13.1869 15.625 16.125 12.6869 16.125 9.0625C16.125 5.43813 13.1869 2.5 9.5625 2.5C5.93813 2.5 3 5.43813
                                            3 9.0625C3 12.6869 5.93813 15.625 9.5625 15.625Z"
                                        stroke="#191C1F"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"/>
                                    <path d="M14.2031 13.7031L18 17.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="desk-nav__wrapper--widget">
                    <div class="cart">
                        <button id="showHiddenMenuOne" class="plain-btn ">
                            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 29C11.1046 29 12 28.1046 12 27C12 25.8954 11.1046 25 10 25C8.89543 25 8 25.8954 8 27C8 28.1046 8.89543 29 10 29Z"
                                    fill="white"/>
                                <path
                                    d="M23 29C24.1046 29 25 28.1046 25 27C25 25.8954 24.1046 25 23 25C21.8954 25 21 25.8954 21 27C21 28.1046 21.8954 29 23
                                        29Z"
                                    fill="white"/>
                                <path
                                    d="M5.2875 9H27.7125L24.4125 20.55C24.2948 20.9692 24.0426 21.3381 23.6948 21.6001C23.3471 21.862 22.9229 22.0025 22.4875
                                        22H10.5125C10.0771 22.0025 9.65293 21.862 9.30515 21.6001C8.95738 21.3381 8.70524 20.9692 8.5875 20.55L4.0625
                                        4.725C4.0027 4.51594 3.8764 4.33207 3.70271 4.20125C3.52903 4.07042 3.31744 3.99977 3.1 4H1"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div class="frame">
                            <span>
                                2
                            </span>
                        </div>
                        <div class="shopping-cart-popup" id="hiddenWidgetOne" style="display: none;">
                            <div class="card-header">
                                <h6 class="title">Shopping Cart
                                    <span class="count">(02)</span>
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="product-todo">
                                    <div class="card-image">
                                        <img src="./image/product/product-43.png" alt="product">
                                    </div>
                                    <div class="card-content">
                                        <p class="text">
                                            Canon EOS 1500D DSLR Camera Body+ 18-55 mm
                                        </p>
                                        <div class="price-box">
                                            <span class="count">1 x</span>
                                            <span class="price">$1,500</span>
                                        </div>
                                    </div>
                                    <div class="close-btn">
                                        <button>
                                            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12.5 3.5L3.5 12.5" stroke="#929FA5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M12.5 12.5L3.5 3.5" stroke="#929FA5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-todo">
                                    <div class="card-image">
                                        <img src="./image/product/product-44.png" alt="product">
                                    </div>
                                    <div class="card-content">
                                        <p class="text">
                                            Simple Mobile 5G LTE Galexy 12 Mini 512GB Gaming Phone
                                        </p>
                                        <div class="price-box">
                                            <span class="count">2 x</span>
                                            <span class="price">$269</span>
                                        </div>
                                    </div>
                                    <div class="close-btn">
                                        <button>
                                            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12.5 3.5L3.5 12.5" stroke="#929FA5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M12.5 12.5L3.5 3.5" stroke="#929FA5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-subtototal">
                                <p class="text text-14 text-gray-700">Sub-Total</p>
                                <p class="price">$2038.00 USD</p>
                            </div>
                            <div class="card-button-group">
                                <button type="submit" class="btn btn-primary w-100 d-block mb-3">
                                    Checkout now
                                    <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.625 10H17.375" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path
                                            d="M11.75 4.375L17.375 10L11.75 15.625"
                                            stroke="#191C1F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                                <button type="submit" class="btn btn-outline-primary w-100 d-block">
                                    View Cart
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="wishlist">
                        <button class="plain-btn ">
                            <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 27C16 27 3.5 20 3.5 11.5C3.5 9.99737 4.02062 8.54114 4.97328 7.37908C5.92593 6.21703 7.25178 5.42093 8.72525
                                        5.12624C10.1987 4.83154 11.7288 5.05646 13.0551 5.76272C14.3814 6.46898 15.4221 7.61296 16 9.00001C16.5779 7.61296
                                        17.6186 6.46898 18.9449 5.76272C20.2712 5.05646 21.8013 4.83154 23.2748 5.12624C24.7482 5.42093 26.0741 6.21703 27.0267
                                        7.37908C27.9794 8.54114 28.5 9.99737 28.5 11.5C28.5 20 16 27 16 27Z"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="user">
                        <div id="showHiddenMenuTwo">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M3.875 27.0001C5.10367 24.8716 6.87104 23.104 8.99944 21.875C11.1278 20.646 13.5423 19.999 16 19.999C18.4577 19.999 20.8722 20.646 23.0006 21.875C25.129 23.104 26.8963 24.8716 28.125 27.0001" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="signin-popup" id="hiddenWidgetTwo" style="display: none;">
                            <h2 class="title">Sign in to your account</h2>
                            <div class="signin-form">
                                <form action="#">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label for="exampleInputPassword1" class="form-label">Password</label>
                                            <a href="#" class="forgot-btn">Forget Password</a>
                                        </div>
                                        <div class="pass-box">
                                            <input class="form-control" id="passField" type="password"/>
                                            <i id="eye" class="pass-box--eye far fa-eye-slash"></i>
                                        </div>
                                    </div>
                                    <div class="form-button">
                                        <button class="btn btn-primary w-100">
                                            Login
                                            <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3.625 10H17.375" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path
                                                    d="M11.75 4.375L17.375 10L11.75 15.625"
                                                    stroke="#191C1F"
                                                    stroke-width="1.5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="from-text">
                                        <div class="texts">
                                            <p class="text">Don’t have account</p>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary w-100">Create account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
