{% macro render(root, elemroot, hideMegamenu, dropdownStyle2, megamenuPosition) %}
    <ul class="site-menu-main">
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Landing <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                    <a href="index.html">Personal Portfolio</a>
                </li>
                <li class="sub-menu--item">
                    <a href="startup-company.html">Startup Company</a>
                </li>
                <li class="sub-menu--item">
                    <a href="project-management.html">Project Management</a>
                </li>
                <li class="sub-menu--item">
                    <a href="marketing-agency.html">Marketing Agency</a>
                </li>
                <li class="sub-menu--item">
                    <a href="online-course.html">Online Course</a>
                </li>
                <li class="sub-menu--item">
                    <a href="mobile-app.html">Mobile App</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-2">
                <li class="sub-menu--item">
                    <a href="about-us.html">About Us</a>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Careers<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-9">
                        <li class="sub-menu--item">
                            <a href="career.html">Career</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="career-details.html">Career Details</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Account<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-10">
                        <li class="sub-menu--item">
                            <a href="sign-in.html">Sign In</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="sign-up.html">Sign Up</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="forgot.html">Reset Password</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-11">
                        <li class="sub-menu--item">
                            <a href="error.html">404</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="coming-soon.html">Coming Soon</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="support.html">Support</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Blogs <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-12">
                <li class="sub-menu--item">
                    <a href="blog.html">Blog</a>
                </li>
                <li class="sub-menu--item">
                    <a href="blog-details.html">Blog Details</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="contact.html" class="nav-link-item drop-trigger">Contact
            </a>
        </li>
    </ul>
{% endmacro %}
