{% macro render(args) %}
    <div class="offer-widget-01">
        <div class="container">
            <div class="offer-widget-01__wrapper">
                <div class="offer-widget-01__wrapper--text">
                    <span class="text-gray-900 text-20 black bg-warning-300">Black</span>
                    <span class="friday text-white text-24">Friday</span>
                </div>
                <div class="offer-widget-01__wrapper--discount-text">
                    <span class="up-to text-white text-14">Up to</span>
                    <span class="num text-warning-500 text-40">59%</span>
                    <span class="text-white off text-20 text-uppercase">off</span>
                </div>
                <div class="offer-widget-01__wrapper--button">
                    <a class="btn btn-warning" href="#">
                        Shop now
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.625 10H17.375" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="offer-widget-01__wrapper--close-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 3.5L3.5 12.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 12.5L3.5 3.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
