@use "../../abstracts/mixins" as *;
.blog-detail-body{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 72px 0;
    }
    &__image-group{
        margin-bottom: 30px;
        @media (min-width:992px) {
            margin-bottom: 48px;
        }
        img{
            border-radius: 3px;
        }
    }
    &__product{
        @media (max-width:480px) {
            width: 90%;
            margin: auto;
        }
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
        column-gap: 16px;
        @media (min-width:480px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width:768px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width:992px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__pagination{
        margin-top: 40px;
    }
    &__filter{
        @media (max-width:1200px) {
            margin-bottom: 40px;
        }
        @media (min-width:1200px) {
            margin-left: 20px;
        }
        &--catagory{
            margin-bottom: 24px;
        }
        &--bloglist{
            margin-bottom: 24px;
            border: 1px solid #E4E7E9;
            border-radius: 6px;
            padding: 24px;
            h2{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: var(--bs-gray-900);
                text-transform: uppercase;  
                margin-bottom: 24px;
            }
            .single-item{
                &:not(&:last-child){
                    margin-bottom: 24px;
                }
            }
        }
        &--gallery{
            margin-bottom: 24px;
            border: 1px solid #E4E7E9;
            border-radius: 6px;
            padding: 24px;
            h2.title{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: var(--bs-gray-900);
                text-transform: uppercase;  
                margin-bottom: 24px;
            }
            .gallery-group{
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(3,auto);
                @media (min-width:1400px) {
                    grid-template-columns: repeat(4,auto);
                }
                .single-item{
                    img{
                        border-radius: 2px;
                    }
                }
            }
        }
        &--search-box{
            margin-bottom: 24px;
            .search-box{
                border-radius: 4px;
                border: 1px solid var(--bs-gray-100);
                padding: 24px;
                .title{
                    margin-bottom: 24px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--bs-gray-900);   
                }
                .form-group{
                    position: relative;
                    .form-control{
                    border: 1px solid #E4E7E9;
                    border-radius: 2px;
                    padding: 16px;
                    padding-right: 45px;
                    color: var(--bs-gray-900);
                    height: 44px;
                    &::placeholder{
                        color: var(--bs-gray-500);
                    }
                    }
                    .icon{
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 16px;
                    }
                }
            }
        }
    }
    &__content{
        .meta-box{
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 16px;
            div{
                padding-bottom: 5px;
                display: flex;
                align-items: center;
                svg{
                    margin-right: 6px;
                }
                span{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--bs-gray-700) !important;
                }
            }
        }
        &--avatar-info{
            margin-top: 24px;
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:575px) {
                flex-direction: column;
            }
            .avatar{
                display: flex;
                align-items: center;
                .image{
                    min-height: 40px;
                    min-width: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    margin-right: 12px;
                    img{
                        border-radius: 500px;
                    }
                }
                .content{
                    .name{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: var(--bs-gray-900); 
                    }
                }
            }
            .social{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 0 8px;
                list-style: none;
                @media (max-width:575px) {
                    margin-top: 15px;
                }
                li{
                    a{
                        @include square(40px,500px);
                        @include flexAllCenter;
                    }
                }
            }
        }
        .texts{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--bs-gray-900); 
        }
        blockquote{
            margin: 32px 0;
        }
        &--image-group{
            margin: 32px 0;
            display: flex;
            align-items: center;
            gap: 0 24px;
        }
        &--comment-box{
            margin: 48px 0;
        }
        &--comment{
            @media (min-width:992px) {
                margin-right: 20px;
            }
        }
    }
}
