{% import "components/_mixed.njk" as MixtComponent %}
{% macro render(args) %}
    <div class="banner-area">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-xl-8">
                    <div class="banner-area__slider">
                        <div class="product-slider-01">
                            <div class="single-slider">
                                <div class="banner-slider-content-01">
                                    <div class="banner-content">
                                        <h6 class="subtitle text-secondary-500 text-14 text-uppercase"><span class="line"></span>THE BEST PLACE TO PLAY</h6>
                                        <h2 class="titel">Xbox Consoles</h2>
                                        <p class="text">Save up to 50% on select Xbox games. Get 3 months of PC Game Pass for $2 USD.</p>
                                        <a class="btn btn-primary" href="#">
                                            Shop now
                                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                              <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                          </a>
                                    </div>
                                    <div class="banner-image-group">
                                        <img src="./image/banner/x-box.png" alt="x-box">
                                        <div class="price-tag">
                                            <span>$299</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="banner-slider-content-01">
                                    <div class="banner-content">
                                        <h6 class="subtitle text-secondary-500 text-14 text-uppercase"><span class="line"></span>THE BEST PLACE TO PLAY</h6>
                                        <h2 class="titel">Xbox Consoles</h2>
                                        <p class="text">Save up to 50% on select Xbox games. Get 3 months of PC Game Pass for $2 USD.</p>
                                        <a class="btn btn-primary" href="#">
                                            Shop now
                                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                              <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                          </a>
                                    </div>
                                    <div class="banner-image-group">
                                        <img src="./image/banner/x-box.png" alt="x-box">
                                        <div class="price-tag">
                                            <span>$499</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="banner-slider-content-01">
                                    <div class="banner-content">
                                        <h6 class="subtitle text-secondary-500 text-14 text-uppercase"><span class="line"></span>THE BEST PLACE TO PLAY</h6>
                                        <h2 class="titel">Xbox Consoles</h2>
                                        <p class="text">Save up to 50% on select Xbox games. Get 3 months of PC Game Pass for $2 USD.</p>
                                        <a class="btn btn-primary" href="#">
                                            Shop now
                                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                              <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                          </a>
                                    </div>
                                    <div class="banner-image-group">
                                        <img src="./image/banner/x-box.png" alt="x-box">
                                        <div class="price-tag">
                                            <span>$599</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="banner-area__add-one">
                        {{MixtComponent.AddOne()}}
                    </div>
                    <div class="banner-area__add-two">
                        {{MixtComponent.AddTwo()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
