{% macro render(args) %}
    <div class="newsletter-section-01 bg-secondary-700">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-xs-11">
                    <div class="newsletter-section-01__wrapper">
                        <div class="section-title-block">
                            <h2 class="title">Subscribe to our newsletter</h2>
                            <p class="text">Praesent fringilla erat a lacinia egestas. Donec vehicula tempor libero et cursus. Donec non quam urna. Quisque vitae porta ipsum.</p>
                        </div>
                        <div class="newsletter-form-01">
                            <form action="#">
                                <input class="form-control" type="text" placeholder="Email address">
                                <div class="button-group">
                                    <a class="btn btn-primary" href="#">
                                        Subscribe
                                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.625 10H17.375" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M11.75 4.375L17.375 10L11.75 15.625" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="newsletter-section-01__sponsor">
                        <div class="logo-slider">
                            <div class="logo-slider__track">
                                <div class="slide">
                                    <img src="./image/logo/googel.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/amaazon.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/philips.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/toshiba.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/samsung.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/googel.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/amaazon.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/philips.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/toshiba.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/samsung.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/amaazon.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/philips.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/toshiba.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/samsung.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/amaazon.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/philips.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/toshiba.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/samsung.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/toshiba.png" alt="sponsor">
                                </div>
                                <div class="slide">
                                    <img src="./image/logo/samsung.png" alt="sponsor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
