{% macro render(args) %}
{% import "components/cards.njk" as Card %}

{% set cardDataOne =[
        {
        id:1,
        img:"./image/product/product-31.png",
        title:"Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...",
        price:"$1,500"
        },
        {
        id:2,
        img:"./image/product/product-32.png",
        title:"Simple Mobile 4G LTE Prepaid Smartphone",
        price:"$1,500"
        },
        {
        id:3,
        img:"./image/product/product-33.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        price:"$1,500"
        }
]%}
{% set cardDataTwo =[
        {
        id:1,
        img:"./image/product/product-34.png",
        title:"Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...",
        price:"$1,500"
        },
        {
        id:2,
        img:"./image/product/product-35.png",
        title:"Simple Mobile 4G LTE Prepaid Smartphone",
        price:"$1,500"
        },
        {
        id:3,
        img:"./image/product/product-36.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        price:"$1,500"
        }
]%}
{% set cardDataThree =[
        {
        id:1,
        img:"./image/product/product-37.png",
        title:"Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...",
        price:"$1,500"
        },
        {
        id:2,
        img:"./image/product/product-38.png",
        title:"Simple Mobile 4G LTE Prepaid Smartphone",
        price:"$1,500"
        },
        {
        id:3,
        img:"./image/product/product-39.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        price:"$1,500"
        }
]%}
{% set cardDataFour =[
        {
        id:1,
        img:"./image/product/product-40.png",
        title:"Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...",
        price:"$1,500"
        },
        {
        id:2,
        img:"./image/product/product-41.png",
        title:"Simple Mobile 4G LTE Prepaid Smartphone",
        price:"$1,500"
        },
        {
        id:3,
        img:"./image/product/product-42.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        price:"$1,500"
        }
]%}
<div class="products-section-03">
    <div class="container">
        <div class="row card-row">
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">FLASH SALE TODAY</h2>
                </div>
                <div class="products-section-03__widget">
                    {% for item in cardDataOne %}
                    <div class="single-item">
                        {{Card.ProductCardFour({
                                        img:item.img,
                                        title:item.title,
                                        price:item.price
                                    })}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">BEST SELLERS</h2>
                </div>
                <div class="products-section-03__widget">
                    {% for item in cardDataTwo %}
                    <div class="single-item">
                        {{Card.ProductCardFour({
                                        img:item.img,
                                        title:item.title,
                                        price:item.price
                                    })}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">FLASH SALE TODAY</h2>
                </div>
                <div class="products-section-03__widget">
                    {% for item in cardDataThree %}
                    <div class="single-item">
                        {{Card.ProductCardFour({
                                        img:item.img,
                                        title:item.title,
                                        price:item.price
                                    })}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">FLASH SALE TODAY</h2>
                </div>
                <div class="products-section-03__widget">
                    {% for item in cardDataFour %}
                    <div class="single-item">
                        {{Card.ProductCardFour({
                                        img:item.img,
                                        title:item.title,
                                        price:item.price
                                    })}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
