{% import "components/_mixed.njk" as MixtComponent %}
{% macro render(args) %}
{% import "components/cards.njk" as Card %}

{% set cardData =[
        {
        id:1,
        img:"./image/product/product-15.png",
        title:"TOZO T6 True Wireless Earbuds Bluetooth Headphon...",
        price:"$2,300",
        count:"738",
        offerTage:true,
        badge:"hot",
        className:"bg-danger-500 text-white"
        },
        {
        id:2,
        img:"./image/product/product-16.png",
        title:"Samsung Electronics Samsung Galexy S21 5G",
        price:"$220",
        count:"536"
        },
        {
        id:3,
        img:"./image/product/product-17.png",
        title:"Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...",
        del:"$865",
        price:"$1,50",
        count:"423",
                offerTage:true,
        badge:"BEST DEALS",
        className:"bg-secondary-500 text-white"
        },
        {
        id:4,
        img:"./image/product/product-18.png",
        title:"Portable Wshing Machine, 11lbs capacity Model 18NMF...",
        price:"$1,200",
        count:"816",
        sOne:true
        },
        {
        id:5,
        img:"./image/product/product-19.png",
        title:"Wired Over-Ear Gaming Headphones with USB",
        price:"$299",
        count:"647"
        },
        {
        id:6,
        img:"./image/product/product-20.png",
        title:"Polaroid 57-Inch Photo/Video Tripod Deluxe Tripod Ca...",
        del:"$865.99",
        price:"$70",
        count:"877",
        sOne:true,
                                offerTage:true,
        badge:"25% OFF",
        className:"bg-warning-500 text-gray-900"
        },
        {
        id:7,
        img:"./image/product/product-21.png",
        title:"Dell Optiplex 7000x7480 All-in-One Computer Monitor",
        price:"$1,50",
        count:"426"
        },
        {
        id:8,
        img:"./image/product/product-22.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        del:"$360",
        price:"$250",
        count:"583",
                        offerTage:true,
        badge:"SALE",
        className:"bg-success-500 text-white"
        }


]%}
<div class="products-section-01">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-xxl-3 ">
                <div class="products-section-01__add h-100">
                    {{MixtComponent.AddThree()}}
                </div>
            </div>
            <div class="col-xxl-9 ">
                <div class="products-section-01__wrappper">
                    <div class="products-section-01__wrappper--content">
                        <div class="section-title">
                            <h2 class="title">Featured Products</h2>
                        </div>
                        <div class="button-group">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all"
                                        aria-selected="true">All Product</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-key-mouse-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-key-mouse" type="button" role="tab"
                                        aria-controls="pills-key-mouse" aria-selected="false">Keyboard & Mouse</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-headphon-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-headphon" type="button" role="tab" aria-controls="pills-headphon"
                                        aria-selected="false">Headphone</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-webcam-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-webcam" type="button" role="tab" aria-controls="pills-webcam"
                                        aria-selected="false">Webcam</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-printer-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-printer" type="button" role="tab" aria-controls="pills-printer"
                                        aria-selected="false">Printer</button>
                                </li>
                            </ul>
                            <div class="all-product-button">
                                <a class="text-btn" href="#">Browse All Product
    
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.125 10H16.875" stroke="#FA8232" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#FA8232"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
    
                            </a></div>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-all" role="tabpanel"
                            aria-labelledby="pills-all-tab">
                            <div class="products-section-01__wrappper--product">
                                {% for item in cardData%}
                                {{Card.ProductCardThree({
                                    img:item.img,
                                    title:item.title,
                                    del:item.del,
                                    count:item.count,
                                    price:item.price,
                                    sOne:item.sOne,
                                    badge:item.badge,
                                    offerTage:item.offerTage,
                                    className:item.className
                                })}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-key-mouse" role="tabpanel"
                            aria-labelledby="pills-key-mouse-tab">
                            <div class="products-section-01__wrappper--product">
                                {% for item in cardData%}
                                {{Card.ProductCardThree({
                                    img:item.img,
                                    title:item.title,
                                    del:item.del,
                                    count:item.count,
                                    price:item.price,
                                    sOne:item.sOne,
                                    badge:item.badge,
                                    offerTage:item.offerTage,
                                    className:item.className
                                })}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-headphon" role="tabpanel"
                            aria-labelledby="pills-headphon-tab">
                            <div class="products-section-01__wrappper--product">
                                {% for item in cardData%}
                                {{Card.ProductCardThree({
                                    img:item.img,
                                    title:item.title,
                                    del:item.del,
                                    count:item.count,
                                    price:item.price,
                                    sOne:item.sOne,
                                    badge:item.badge,
                                    offerTage:item.offerTage,
                                    className:item.className
                                })}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-webcam" role="tabpanel" aria-labelledby="pills-webcam-tab">
                            <div class="products-section-01__wrappper--product">
                                {% for item in cardData%}
                                {{Card.ProductCardThree({
                                    img:item.img,
                                    title:item.title,
                                    del:item.del,
                                    count:item.count,
                                    price:item.price,
                                    sOne:item.sOne,
                                    badge:item.badge,
                                    offerTage:item.offerTage,
                                    className:item.className
                                })}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-printer" role="tabpanel"
                            aria-labelledby="pills-printer-tab">
                            <div class="products-section-01__wrappper--product">
                                {% for item in cardData%}
                                {{Card.ProductCardThree({
                                    img:item.img,
                                    title:item.title,
                                    del:item.del,
                                    count:item.count,
                                    price:item.price,
                                    sOne:item.sOne,
                                    badge:item.badge,
                                    offerTage:item.offerTage,
                                    className:item.className
                                })}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
