{% import "components/_mixed.njk" as MixtComponent %}
{% macro render(args) %}
{% import "components/cards.njk" as Card %}

{% set cardData =[
        {
        id:1,
        img:"./image/product/product-23.png",
        title:"TOZO T6 True Wireless Earbuds Bluetooth Headphon...",
        price:"$36",
        count:"994",
        sOne:true
        },
        {
        id:2,
        img:"./image/product/product-24.png",
        title:"Samsung Electronics Samsung Galexy S21 5G",
        price:"$80",
        count:"798"
        },
        {
        id:3,
        img:"./image/product/product-25.png",
        title:"Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...",
        price:"$70",
         count:"600"
        },
        {
        id:4,
        img:"./image/product/product-26.png",
        title:"Portable Wshing Machine, 11lbs capacity Model 18NMF...",
        price:"$250",
        count:"492"
        },
        {
        id:5,
        img:"./image/product/product-27.png",
        title:"Wired Over-Ear Gaming Headphones with USB",
        price:"$2300",
        count:"740",
        sOne:true
        },
        {
        id:6,
        img:"./image/product/product-28.png",
        title:"Polaroid 57-Inch Photo/Video Tripod Deluxe Tripod Ca...",
        price:"$220",
        count:"556",
        sOne:true
        },
        {
        id:7,
        img:"./image/product/product-29.png",
        title:"Dell Optiplex 7000x7480 All-in-One Computer Monitor",
        price:"$1,50",
        count:"426",
        sOne:true
        },
        {
        id:8,
        img:"./image/product/product-30.png",
        title:"4K UHD LED Smart TV with Chromecast Built-in",
        del:"$360",
        price:"$250",
        count:"583",
        sOne:true
        }


]%}
    <div class="products-section-02">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-3 order-xxl-2">
                    <div class="products-section-02__add-wrapper">
                        <div class="products-section-02__add-wrapper--one">
                            {{MixtComponent.AddSix()}}
                        </div>
                        <div class="products-section-02__add-wrapper--two">
                            {{MixtComponent.AddSeven()}}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-9 order-xxl-1">
                    <div class="products-section-02__wrappper">
                        <div class="products-section-02__wrappper--content">
                            <div class="section-title">
                                <h2 class="title">Computer Accessories</h2>
                            </div>
                            <div class="button-group">
                                <ul class="filter-buttton">
                                    <button class="active">All Product</button>
                                    <button>Keyboard & Mouse</button>
                                    <button>Headphone</button>
                                    <button>Webcam</button>
                                    <button>Printer</button>
                                </ul>
                                <div class="all-product-button">
                                    <a class="text-btn" href="#">Browse All Product
                                    
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.125 10H16.875" stroke="#FA8232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#FA8232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>

                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="products-section-02__wrappper--product">
                            {% for item in cardData%}
                                {{Card.ProductCardThree({
                                    img:item.img,
                                    title:item.title,
                                    del:item.del,
                                    count:item.count,
                                    price:item.price,
                                    sOne:item.sOne
                                })}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
