{% macro render(args) %}
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-lg-6 col-md-8 col-xs-10 offset-xxl-1 order-lg-2">
                    <div class="content-image">
                        <img src="./image/about/about.png" alt="about" class="w-100">
                    </div>
                </div>
                <div class="col-xxl-5 col-lg-6 order-lg-1">
                    <div class="content-area">
                        <h6 class="subtitle">WHO WE ARE</h6>
                        <h2 class="title">Clicon - largest electronics retail shop in the world.</h2>
                        <p class="text">Pellentesque ultrices, dui vel hendrerit iaculis, ipsum velit vestibulum risus, ac tincidunt diam lectus id magna. Praesent maximus lobortis neque sit amet rhoncus. Nullam tempus lectus a dui aliquet, non ultricies nibh elementum. Nulla ac nulla dolor. </p>
                        <ul class="content-list-01">
                            <li>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.875 7.875L5.625 16.125L1.5 12" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5004 7.875L14.2504 16.125L12.0566 13.9313" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Great 24/7 customer services.
                            </li>
                            <li>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.875 7.875L5.625 16.125L1.5 12" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5004 7.875L14.2504 16.125L12.0566 13.9313" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                600+ Dedicated employe.
                            </li>
                            <li>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.875 7.875L5.625 16.125L1.5 12" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5004 7.875L14.2504 16.125L12.0566 13.9313" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                50+ Branches all over the world.
                            </li>
                            <li>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.875 7.875L5.625 16.125L1.5 12" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5004 7.875L14.2504 16.125L12.0566 13.9313" stroke="#2DB324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Over 1 Million Electronics Products
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
