{% macro render(args) %}
<div class="banner-section-03" style="background-image: url('./image/support/banner.png');">
    <div class="container">
        <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="content-area">
                <h6 class="subtitle">HELP CENTER</h6>
                <h2 class="title">How we can help you!</h2>
                <div class="content-area--search">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Enter your question or keyword">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.875 18.75C15.2242 18.75 18.75 15.2242 18.75 10.875C18.75 6.52576 15.2242 3 10.875 3C6.52576 3 3 6.52576 3 10.875C3 15.2242 6.52576 18.75 10.875 18.75Z" stroke="#FA8232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.4434 16.4434L20.9996 20.9996" stroke="#FA8232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
