{% macro render(args) %}
<div class="popular-topics">
    <div class="container">
        <div class="section-title text-center">
         <h2 class="title">Popular Topics</h2>
        </div>
        <div class="row">
            <div class="col-xxl-10">
                <ul class="popular-topics__list">
                    <li><a href="#"><span class="dot"></span>How do I return my item?</a></li>
                    <li><a href="#"><span class="dot"></span>What are the 'Delivery Timelines'?</a></li>
                    <li><a href="#"><span class="dot"></span>How to cancel Clicon Order.</a></li>
                    <li><a href="#"><span class="dot"></span>What is Clicons Returns Policy?</a></li>
                    <li><a href="#"><span class="dot"></span>What is 'Discover Your Daraz Campaign 2022'?</a></li>
                    <li><a href="#"><span class="dot"></span>Ask the Digital and Device Community</a></li>
                    <li><a href="#"><span class="dot"></span>How long is the refund process?</a></li>
                    <li><a href="#"><span class="dot"></span>What is the Voucher & Gift Offer in this Campaign?</a></li>
                    <li><a href="#"><span class="dot"></span>How to change my shop name?</a></li>
                </ul>
            </div>   
        </div>
    </div>              
</div>
{% endmacro %}
